﻿@model IEnumerable<Oefeningenreeks3.Models.Band>
@using Oefeningenreeks3.Models
<h2>Bands met hun leden</h2>

<ol>
    @foreach (Band band in Model)
    {
        <li>
            @band.Naam (@band.Jaar)
            <ul>
                @foreach (BandLid bandlid in band.Leden)
                {
                    <li>
                        @bandlid.Naam - @bandlid.Leeftijd @(!bandlid.Levend ? "(+)" : "" ) - @bandlid.Geslacht
                    </li>
                }
            </ul>
        </li>
    }
</ol>

